body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lab(59.66% 8.64 -36.67);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-color: lab(59.66% 8.64 -36.67);
}

.login-container {
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}